.pdf {
  height: 100vh;
  width: 100vw;
}

#items {
  position: relative;
  top: 20%;


}

#items > .item {
  position: relative;
  cursor: pointer;
  transition: all 250ms;
  padding-top: 6vh;

}

.content {
  scroll-behavior: smooth;
  will-change: overflow;
}

body {
  margin: 0;
}

.page {
  position: relative;
}

.press-container {
  position: relative;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 17vw;
  padding: 10vh 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1vw;
  font-size: 1.1vw;

}

.sidebar > * {
  padding-top: 6vh;
  cursor: pointer;
}

.sidebar-press {
  position: fixed;
  background-color: #FE6F9B;
  right: -100vh;
  top: 0;
  bottom: 0;
  width: 17vw;
  padding: 10vh 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1vw;
  font-size: 1.1vw;

}
.sidebar-press  > * {
  padding-top: 6vh;
  cursor: pointer;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#title {
  color: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#btn {
  position: fixed;
  z-index: 5;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: right 500ms cubic-bezier(.6, .05, .28, .91);

}

#btn >  div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #343838;
  transition: transform 500ms cubic-bezier(.6, .05, .28, .91), opacity 500ms, background-color 250ms;
}

#btn.active > #top {
  transform: translateY(10px) rotate(-135deg);
}

#btn.active > #middle {
  opacity: 0;
  transform: rotate(135deg);
}

#btn.active > #bottom {
  transform: translateY(-10px) rotate(-45deg);
}

#btn.active > div {
  background-color: #343838;
}


#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 17vw;
  opacity: 0;
  padding: 10vh 1vh;
  height: 100%;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1vw;
  font-size: 1.1vw;
  background-color: #FE6F9B;
  transition: all 350ms cubic-bezier(.6, .05, .28, .91);
}

#box.active {
  right: 0px;
  opacity: 1;
}


#btn {
  will-change: transform;
}

#btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}

